@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Containers */

.container{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.xs-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Settings */

.flex{
    display: flex;
}

.padding-bottom{
    padding-bottom: 7px;
}

.padding-top{
    padding-top: 7px;
}

.white-text{
    color: white;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

input[type="range"] {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 7rem;
  }

  

/* Sidebar */

.sidebar{
    width: 40px;
    height: calc(100% - 70px);
    background-color: black;
    font-size: 11px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.sidebar nav > .logo{
    padding: 3px 10px;
}

.sidebar nav img{
    height: 20px;
    margin-right: 3px;
}

.sidebar nav .img-big{
    height: 30px;
}

.sidebar nav .logo-big{
    display: none;
    margin: 10px 0;
}

.sidebar nav .logo-home{
    color: white;
}

.sidebar .nome-playlist{
    overflow: hidden;
}

.sidebar ul li{
    color: rgba(255, 255, 255, 0.7);
    transition: all 0s;
}

.sidebar ul li:hover{
    color: white;
}

.sidebar span{
    color: rgba(255, 255, 255, 0.7);
    transition: all 0s;
}

.sidebar span:hover{
    color: white;
}

.sidebar .hidden-text{
    line-height: 22px;
    display: none;
}

.sidebar nav .nome-playlist{
    padding: 8px 10px;
}

nav .nome-playlist .fa-square-plus{
    font-size: 20px;
}

/* fixed-block */

.sidebar .fixed-block{
    align-self: flex-end;
    padding: 10px;
    position: fixed;
    z-index: 10;
    background-color: black;
}

.sidebar .fixed-block img{
    height: 15px;
}

.sidebar .fixed-block .hidden-text{
    height: 15px;
    line-height: 16px;
    margin-left: 5px;
}

.sidebar .fixed-block hr{
    height: 1px;
    width: 8rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

.sidebar .fixed-block .profile img{
    height: 18px;
    background-color: grey;
    border-radius: 50%;
}


/* Main container */

.main-container{
    height: calc(100% - 70px);
    width: calc(100% - 40px);
}

/* Button-box */

.main-container .button-box{
    height: 70px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-box button{
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    transform: all 0s;
}

.button-box button:hover{
    scale: 1.2;
}

/* Playlist-box */

.main-container .playlist-box{
    background-color: #141922;
    padding: 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Section-top */

.playlist-box .section-top{
    width: 95%;
    margin: auto;
}

.playlist-box .section-top .text-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.7);
    gap: 1rem;
    font-size: 0.6rem;
}

.playlist-box .section-top .text-list div{   
    margin-bottom: 0.7rem;
    text-align: center;
}

.section-top .text-list a{
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0s;
}

.section-top .text-list a:hover{
    color: white;
}

.section-top .text-list .border-green::after{
    position: absolute;
    content: '';
    display: inline-block;
    height: 2px;
    width: 50%;
    background-color: #adff2f;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

/* Section-bottom */

.playlist-box .section-bottom{
    color: white;
    width: 100%;
    padding-bottom: 4rem;
}

.section-bottom h4{
    margin: 0.8rem 0;
}

.section-bottom h6{
    padding-top: 0.6rem;
}

.playlist-box .section-bottom .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-bottom .cards .card{
    flex-basis: calc(100% / 2 - 1%);
    text-align: center;
    margin: 0.3rem 0;
}

.section-bottom .cards .card img{
    width: 100%;
    display: block;
}

.section-bottom .cards .card .player{
    position: relative;
}

.section-bottom .cards .card .overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}

.section-bottom .cards .card .overlay.overlay-circle{
    border-radius: 50%;
}

.section-bottom .cards .card .fa-circle-play{
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

.section-bottom span{
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.7);
}

/* Playlist-row-2 */

.playlist-row-2 .h4-margin{
    margin: 1.3rem 0 0.4rem 0;
}

.playlist-row-2 p{
    padding-bottom: 1rem;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.7);
}

.circular-img{
    border-radius: 50%;
}

/* Controller */

.controller{
    height: 70px;
    width: 100%;
    background-color: #282828;
    z-index: 4;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.controller .col{
    flex-basis: calc(100% / 3);
    padding: 0 0.5rem;
}

.controller span{
    font-size: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0s;
}

.controller span:hover{
    color: white;
}

/* col-left */

.controller #col-left{
    display: flex;
    align-items: center;
}

.controller #col-left img{
    margin-right: 0.5rem;
}

.controller #col-left .icons-left i{
    font-size: 12px;
    display: block;
    margin: 3px 10px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0s;
}

.controller #col-left .icons-left i:hover{
    color: white;
}

.controller .brano-nome{
    color: rgba(255, 255, 255, 0.7);
}

/* col-center */

.controller #col-center .icons-center{
    text-align: center;
    font-size: 12px;
}

.controller #col-center .icons-center i{
    padding: 0 7px;
}

.controller #col-center .icons-center .fa-circle-play{
    font-size: 20px;
    vertical-align: middle;
    transform: all 0s;
}

.controller #col-center .icons-center .fa-circle-play:hover{
    scale: 1.2;
}

input[type="range"] {
    background-color: #b3b6b7;
    border-radius: 0.5rem;
    height: 3px;
    background: linear-gradient(to right, #FFFFFF 0%, #ffffff 50%, #808080 75%, #808080 100%);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -1px;
    background-color: #808080;
    border-radius: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
}

.controller #col-center .range{
    justify-content: center;
    margin-top: 10px;
}

.controller #col-center .range span{
    line-height: 3px;
    padding: 0 5px;
}

/* col-right */

#col-right{
    display: flex;
    justify-content: flex-end;
}

#col-right i{
    font-size: 12px;
    margin-right: 3px;
}

#col-right .hidden-range{
    display: none;
}


@media screen and (min-width: 376px) {

    /* Sidebar */
    
    .sidebar{
        width: 150px;
    }

    .sidebar nav .logo-big{
        display: block;
    }

    .sidebar nav .logo-small{
        display: none;
    }

    .sidebar nav .logo-home{
        border-left: 3px solid #adff2f;
    }

    .sidebar .hidden-text{
        display: block;
    }

    .sidebar .fixed-block hr{
        display: block;
    }

    /* Main container */

    .main-container{
        width: calc(100% - 150px);
    }

    .section-bottom .cards .card:hover .overlay{
        display: block;
    }

    .section-bottom .cards .card:hover .fa-circle-play{
        display: block;
    }
}


@media screen and (min-width: 480px) {
    
    .playlist-box .section-top{
        width: 65%;
    }

    .playlist-box .section-bottom .cards{
        justify-content: flex-start;
        gap: 1%;
    }

    .section-bottom .cards .card{
        flex-basis: calc(100% / 4 - 1%);
    }

    .controller #col-left .icons-left{
        padding-left: 3rem;
    }

    .controller #col-left .icons-left i{
        margin: 3px 3px;
        display: inline-block;
    }

    input[type="range"].long-bar {
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 13rem;
      }

      input[type="range"].long-bar {
        background-color: #b3b6b7;
        border-radius: 0.5rem;
        height: 3px;
        background: linear-gradient(to right, #FFFFFF 0%, #ffffff 50%, #808080 75%, #808080 100%);
    }
}


@media screen and (min-width: 900px) {
    
    .playlist-box .section-bottom .cards{
        justify-content: space-between;
    }

    .section-bottom .cards .card{
        flex-basis: calc(100% / 6 - 1%);
    }

    .playlist-row-2 .cards.special{
        justify-content: flex-start;
        gap: 1%;
    }

    #col-right .hidden-range{
        display: block;
    }

    #col-right i{
        margin-right: 10px;
    }
    
    #col-right .fa-volume-high{
        margin-right: 5px;
        line-height: 20px;
    }

    input[type="range"].long-bar {
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 18rem;
      }

      input[type="range"].long-bar {
        background-color: #b3b6b7;
        border-radius: 0.5rem;
        height: 3px;
        background: linear-gradient(to right, #FFFFFF 0%, #ffffff 50%, #808080 75%, #808080 100%);
    }

}