@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Containers */

.container{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.xs-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Settings */

.flex{
    display: flex;
}

.padding-bottom{
    padding-bottom: 7px;
}

.padding-top{
    padding-top: 7px;
}

.white-text{
    color: white;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

/* Sidebar */

.sidebar{
    width: 40px;
    height: calc(100% - 70px);
    background-color: black;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
}

.sidebar nav > .logo{
    padding: 3px 10px;
}

.sidebar nav img{
    height: 20px;
    margin-right: 3px;
}

.sidebar nav .img-big{
    height: 30px;
}

.sidebar nav .logo-big{
    display: none;
    margin: 10px 0;
}

.sidebar nav .logo-home{
    color: white;
}

.sidebar ul{
    overflow: auto;
}

.sidebar .hidden-text{
    line-height: 22px;
    display: none;
}

.sidebar nav .nome-playlist{
    padding: 8px 10px;
}

nav .nome-playlist .fa-square-plus{
    font-size: 20px;
}

/* fixed-block */

.sidebar .fixed-block{
    align-self: flex-end;
    padding: 10px;
    position: fixed;
    z-index: 10;
    background-color: black;
}

.sidebar .fixed-block img{
    height: 15px;
}

.sidebar .fixed-block .hidden-text{
    height: 15px;
    line-height: 16px;
    margin-left: 5px;
}

.sidebar .fixed-block hr{
    height: 1px;
    width: 8rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

.sidebar .fixed-block .profile img{
    height: 18px;
    background-color: grey;
    border-radius: 50%;
}


/* Main container */

.main-container{
    height: calc(100% - 70px);
    width: calc(100% - 40px);
}

/* Button-box */

.main-container .button-box{
    height: 70px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-box button{
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
}

/* Playlist-box */

.main-container .playlist-box{
    background-color: #141922;
    padding: 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Section-top */

.playlist-box .section-top{
    width: 95%;
    margin: auto;
}

.playlist-box .section-top .text-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.6rem;
}

.playlist-box .section-top .text-list div{   
    margin-bottom: 0.7rem;
    text-align: center;
}

.section-top .text-list .border-green{
    border-bottom: 1px solid #adff2f;
}

/* Section-bottom */

.playlist-box .section-bottom{
    color: white;
    width: 100%;
    padding-bottom: 4rem;
}

.section-bottom h4{
    margin: 0.8rem 0;
}

.section-bottom h6{
    padding-top: 0.6rem;
}

.playlist-box .section-bottom .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-bottom .cards .card{
    flex-basis: calc(100% / 2 - 1%);
    text-align: center;
    margin: 0.3rem 0;
}

.section-bottom .cards .card img{
    width: 100%;
    display: block;
}

.section-bottom .cards .card .player{
    position: relative;
}

.section-bottom .cards .card .overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}

.section-bottom .cards .card .fa-circle-play{
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

.section-bottom span{
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.7);
}

/* Playlist-row-2 */

.playlist-row-2 .h4-margin{
    margin: 1.3rem 0 0.4rem 0;
}

.playlist-row-2 p{
    padding-bottom: 1rem;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.7)
}

.circular-img{
    border-radius: 50%;
}

/* Controller */

.controller{
    height: 70px;
    width: 100%;
    background-color: #282828;
    z-index: 4;
}



@media screen and (min-width: 376px) {

    /* Sidebar */
    
    .sidebar{
        width: 150px;
    }

    .sidebar nav .logo-big{
        display: block;
    }

    .sidebar nav .logo-small{
        display: none;
    }

    .sidebar nav .logo-home{
        border-left: 3px solid #adff2f;
    }

    .sidebar .hidden-text{
        display: block;
    }

    .sidebar .fixed-block hr{
        display: block;
    }

    /* Main container */

    .main-container{
        width: calc(100% - 150px);
    }

    .section-bottom .cards .card:hover .overlay{
        display: block;
    }

    .section-bottom .cards .card:hover .fa-circle-play{
        display: block;
    }
}


@media screen and (min-width: 480px) {
    
    .playlist-box .section-top{
        width: 65%;
    }

    .playlist-box .section-bottom .cards{
        justify-content: flex-start;
        gap: 1%;
    }

    .section-bottom .cards .card{
        flex-basis: calc(100% / 4 - 1%);
    }
}


@media screen and (min-width: 900px) {
    
    .playlist-box .section-bottom .cards{
        justify-content: space-between;
    }

    .section-bottom .cards .card{
        flex-basis: calc(100% / 6 - 1%);
    }

    .playlist-row-2 .cards.special{
        justify-content: flex-start;
        gap: 1%;
    }

}


@media screen and (max-height: 350px) {
    
}